@import 'values';
@import 'utilities';
@import 'mixins';
.section-acount {
	width: 100vw;
	height: calc(100vh - $bar-mobil-height - $bar-mobil-height);
	@include desktop() {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// background-color: rebeccapurple;
}
.section-acount-container {
	 height: 100%;
	 display: grid;
	grid-template-rows: calc($bar-mobil-height + ($bar-mobil-height /2))  1fr;
	@include desktop() {
		width: 30%;
		height: 70%;
		grid-template-rows:$bar-mobil-height 1fr ;
	}
    .subtitle{
        @include centrarX(0rem);
        align-items: center;
    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
	
}