@import 'mixins';
@import 'utilities';

//----------------- GENERALES ------------//


a {
	&:hover {
		text-decoration: underline;
	}
}
//----------------- CABECERA PHONE  ------------//
.browser-bar {
	width: 100vw;
	height: $bar-mobil-height;
	background-color: $gray-alpha-color;
	padding: 0.5rem 1rem;
	display: grid;
	@include desktop(){
		display: none;
	}
	grid-template-columns: repeat(3, 1fr);
	& > div {
		&:first-child {
			justify-self: start;
			align-self: center;

			@extend %text-hours;
		}
		&:nth-child(2) {
			align-self: end;
			justify-self: end;
			@include centrarX(0.5rem);
			@extend %text-yardsale;
			color: #000000;
			
		}
		&:last-child {
			justify-self: end;
			@include centrarX(0.5rem);
		}
	}
	
}

// .browser-bar-container {
//     padding:1rem 1rem .5rem  1rem;
// 	width: 100%;
// 	height: inherit;

// 	display: grid;
// 	grid-template-columns: repeat(3, 1fr);

// 	justify-items: center;
// 	align-items: start;

// 	p {
// 		@include text1;
// 	}
// 	a {
// 		display: block;
// 		@include text0;
// 	}
// }

// .browser-bar-icon {
// 	display: flex;
// 	gap: 0.3rem;
//     margin-top: -7px;
// 	img {
// 		height: 100%;
// 	}
// }
// .browser-bar-container div:nth-child(1) {
// 	justify-self: start;
// }
// .browser-bar-container div:nth-child(2) {
// 	align-self: end;
// }
// .browser-bar-container div:nth-child(3) {
// 	justify-self: end;
// }
